textarea
{
	padding:10px;
	border:1px solid#E7E7E7;
	border-radius:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:125px;
}

.box-light
{
	padding:25px;
	color:#333333;
	margin:10px 0;
	background:#eaf4e1;
	transition:all 0.6s ease 0s;
}

.box-light.box-light p{
	margin:5px 0px;
}

.box-light :hover
{
	box-shadow:1px 1px 10px #dcdcdc;
}

.box-light .box-light :hover
{
	box-shadow:none;
}

.box-light p
{
	padding:0;
}

.letter
{
	background-color:#4C74AD;
	color:#ffffff;
	border-radius:50%;
	width:40px;
	height:40px;
	line-height:35px;
	font-weight:bold;
	text-align:center;
	float:left;
	margin-left:-35px;
	margin-right:15px;
}

.letter.blue
{
	background-color:#3B689F;
}

.letter.green
{
	background-color:#44A437;
}

.letter.orange
{
	background-color:#ff7537;
}

.letter.purple
{
	background-color:#b99aff;
}

.letter.gray
{
	background-color:#888888;
}

.letter.red
{
	background-color:#DC4739;
}

.chapeau
{
	font-size:1em
	;margin:5px 0;
	font-weight:bold;
}

.gray
{
	color:#888888;
}

.red
{
	color:#DC4739;
}

.hidden
{
	display:none;
}

.clear
{
	clear:both;
}

.separator
{
	border-top:1px solid #eaf4e1;
	border-bottom:1px solid#eaf4e1;
	width:100%;
	height:1px;
	margin-top:30px;
	margin-bottom:30px;
	clear:both;
}

.button-blue
{
	margin-top:10px;
	float:left;
	font-family:Arial;
	cursor:pointer;
	font-size:1em;
	padding:10px 15px;
	font-weight:bold;
	border-radius:5px;
	color:#ffffff;
	border:0px;
	background:#74b42b;
	box-sizing:border-box;
	text-align:center;
}

.contact-clean form 
{
	padding: 30px;
}

.contact-clean form 
{
	max-width: 480px;
	width: 90%;
	margin: 0 auto;
	padding: 40px;
	border-radius:4px;
	color: #505e6c;

}

.contact-clean 
{
	background: #eaf4e1;
	padding-top: 80px;
}

@media (max-width:767px) 
{
.contact-clean 
{
	padding: 20px 0;
}
}

.contact-clean h2 
{
	margin-top: 5px;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 36px;
	color: inherit;
}

.contact-clean .form-group:last-child 
{
	margin-bottom: 5px;
}

.contact-clean form .form-control 
{
	background: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
	outline: none;
	color: inherit;
	padding-left: 12px;
	height: 42px;
}

.contact-clean form .form-control:focus 
{
	border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control 
{
	min-height: 100px;
	max-height: 260px;
	padding-top: 10px;
	resize: vertical;
}

.contact-clean form .btn 
{
	padding: 16px 32px;
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
	opacity: 0.9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.4px;
	line-height: 1;
	outline: none !important;
}

.contact-clean form .btn:hover 
{
	opacity: 1;
}

.contact-clean form .btn:active 
{
	transform: translateY(1px);
}

.contact-clean form .btn-primary 
{
	background-color: #74b42b !important;
	margin-top: 15px;
	color: #fff;
}